/* FONTS */
@font-face {
    font-family: "Montserrat Regular";
    src: url("../fonts/Montserrat-Regular.ttf") format("opentype");
}

@font-face {
    font-family: "Montserrat Light";
    src: url("../fonts/Montserrat-Light.ttf") format("opentype");
}

@font-face {
    font-family: "Montserrat SemiBold";
    src: url("../fonts/Montserrat-SemiBold.ttf") format("opentype");
}

html, body, * {
    font-family: 'Montserrat Regular', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat SemiBold';
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
body {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1.25s;
    -moz-animation-duration:1.25s;
    animation-duration:1.25s;
}

/* TEXT CLASSES */
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-bold {
    font-weight: 600;
    font-family: 'Montserrat SemiBold';
}

.text-muted {
    color: #b2bec3;
}

/* ELEMENT CLASSES */
.float-right {
    float: right;
}

.icons {
    width: 30px;
}

/* BUTTON CLASSESS */
.btn {
    border-radius: 50px;
    padding: 10px 20px;
    border: none;
    min-height: 40px;
    font-weight: 600;
    font-family: 'Montserrat SemiBold';
    margin-bottom: 15px;
}

.btn-fluid {
    width: 85%;
}

.btn-default {
    background: #f7f3f2;
    color: #000;
}

.btn-primary {
    background: #f3015c;
    color: #fff;
}

.btn-primary:hover {
    background: #039085;
}

/* HEADER */
#brand-name {
    margin-top: 0px;
    color: #fff;
}

#header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    padding-top: 10px;
}

#menus {
    text-align: center;
    z-index: 100;
    padding-left: 0 !important;
    padding-inline-start: 0 !important;
}

#menus li {
    display: inline-block;
    color: #fff;    
    margin: 10px;
    font-weight: 600;
    font-family: 'Montserrat SemiBold';
    cursor: pointer;
}

#menus li a {
    text-decoration: none;
    color: #fff;
}


/* FOOTER */
#footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    display: block;
    width: 100%;
    z-index: 9;
    text-align: center;
    color: #f2f2f2;
    padding: 20px 0 0 0;
}

#apple-logo {
    width: 12px;
}

#up-btn {
    float: right;
    opacity: .75;
    background: #292E49;
    padding: 8px;
    border-radius: 50px;
    width: 40px;
}

#down-btn {
    margin-top: 10px;
}


/* NAVIGATION */
#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: #fff;
}


/* SECTIONS */
.section {
    background-size: cover;
}

#home-section {
    background-image: linear-gradient(to bottom right,#66536976, #B3292E49), url('../img/bg1.jpg');
    color: #fff;
}

#pricing-section {
    background-image: linear-gradient(to bottom right, rgba(0, 47, 75, .5), rgba(220, 66, 37, .5)), url('../img/bg2.jpg');
}

#about-section {
    background-image: linear-gradient(to bottom right, rgba(0, 47, 75, .5), rgba(220, 66, 37, .5)), url('../img/bg3.jpg');
}


/* HOME SECTION */
#home-section h1 {
    font-size: 10vw;
    color: #fff;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#home-section p.sub-heading {
    font-size: 1.5rem;
}

/* HOME SECTION ANIMATION */
#home-section h1 {
    left: 200%;
    position:relative;
    transition: all 1000ms ease;
}

#home-section p {
    opacity: 0;
    transition: all 3500ms ease;
}

#home-section #start-trial-btn {
    left: -120%;
    position: relative;
    transition: all 1200ms ease;
}

#home-section #learn-more-btn {
    left: 120%;
    position: relative;
    transition: all 1200ms ease;
}

body.fp-viewing-home-page #home-section p {
    opacity: 1;
}

body.fp-viewing-home-page #home-section h1,
body.fp-viewing-home-page #home-section #start-trial-btn,
body.fp-viewing-home-page #home-section #learn-more-btn {
    left: 0%;
}


/* PRICING SECTION */
#pricing-section h1 {
    color: #fff;
    text-align: center;
}

#pricing-row {
    max-width: 320px;
    margin: 0 auto;
}

.pricing-col {
    text-align: center;
    background: #fff;
    -moz-transition: background-color .5s ease-in;
    -o-transition: background-color .5s ease-in;
    -webkit-transition: background-color .5s ease-in;
    transition: background-color .5s ease-in;
}

.pricing-col button {
    background: #f3015c;
    -moz-transition: background-color .5s ease-in;
    -o-transition: background-color .5s ease-in;
    -webkit-transition: background-color .5s ease-in;
    transition: background-color .5s ease-in;
}

.pricing-col:hover {
    background: #d2e4e4;
}

.pricing-col:hover button {
    background: #039085;
}

.pricing-col:first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.pricing-col:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.price .price-currency {
    position: relative;
    top: -30px;
    font-size: 1rem;
    color: #b2bec3;
}

.price .price-amt {
    font-size: 3rem;
    font-weight: 300;
    font-family: 'Montserrat Light';
}

ul.features {
    height: 180px;
    list-style: none;
    padding-left: 0 !important;
    padding-inline-start: 0 !important
}

ul.features li {
    margin: 5px 0px 5px 0px;
}

/* PRICING SECTION ANIMATION */
#pricing-section #pricing-row {
    left: -130%;
    position:relative;
    transition: all 1000ms ease;
}

#pricing-section h1 {
    left: 150%;
    position:relative;
    transition: all 1500ms ease;
}
body.fp-viewing-pricing-page #pricing-section #pricing-row,
body.fp-viewing-pricing-page #pricing-section h1 {
    left: 0%;
}


/* ABOUT SECTION */
#mbp-img {
    margin-left: -60%;
}

#about-content-col {
    color: #fff;
}

#about-content-col h4, #about-content-col p {
    margin: 10px 0 10px 0;
}

/* ABOUT SECTION ANIMATION */
#about-section #mbp-img {
    left: 150%;
    position:relative;
    transition: all 1200ms ease;
}

#about-section #about-content-col {
    left: -150%;
    position: relative;
    transition: 1200ms ease;
}

body.fp-viewing-about-page #about-section #mbp-img,
body.fp-viewing-about-page #about-section #about-content-col {
    left: 0%;
}


#menus .off-menu {
    display: none;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 320px) and (max-width: 479px) {
    #about-content-col {
      height: 100%;
    }

    #mbp-img {
      width: 90%;
    }
}

@media only screen and (max-width: 639px) {
    #header div:nth-child(1),
    #header div:nth-child(3) {
        display: none;
    }

    #header #menu-col {
        width: 100%;
    }

    #header {
        padding-top: 0;
    }

    #menus .off-menu {
        display: inline-block;
    }
}

@media only screen and (min-width: 320px) {
    #footer div.col-xs-4 {
        font-size: x-small;
    }
}

@media only screen and (min-width: 480px) {
    #mbp-img {
        width: 80%;
    }
}

@media only screen and (min-width: 768px) {  
    #menus li {
        font-size: 1.25rem;
    }

    .price .price-amt {
        font-size: 6rem;
    }

    .price .price-currency {
        top: -70px;
        font-size: 1.75rem;
    }

    .price .price-amt {
        font-size: 6rem;
    }

    .pricing-col:first-child {
        border-top-left-radius: 20px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 20px;
    }
    
    .pricing-col:last-child {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 0px;
    }

    #pricing-row {
        max-width: 100%;
        margin: 0 auto;
    }

    #mbp-img {
        width: 120%;
    }
}

@media only screen and (min-width: 992px) {
    #mbp-img {
      width: 150%;
    }

    #footer .col-s-4 {
      font-size: 1rem;
    }

    #apple-logo {
      width: 18px !important;
    }
} 